body {
    margin: 0 auto 0 auto;
    max-width: 50em;
}

a {
    color: black;
}

a:visited {
    color: #777;
}

#header {
    background-color: #ddd;
    padding: 16pt;
    font-size: x-large;
}

#navigation {
    background-color: #eee;
    padding: 16pt;
    font-size: large;
}

#header     a,
#navigation a {
    color: black;
}

#navigation a {
    margin-right: 1em;
}

.postPage .postTitle a {
    color: black;
    text-decoration: none;
}

div#logo {
    font-weight: bold;
}

div#footer {
    border-top: solid 1px black;
    color: #555;
    font-size: 12pt;
    margin-top: 30pt;
    padding: 12pt 0 12pt 0;
    text-align: right;
}

.postInfo {
    color: #555;
    font-style: italic;
}

.postWidget td {
    vertical-align: top;
    padding-top:    1em;
    padding-bottom: 1em;
}

.postTitle {
    margin-top: 0;
}

#content {
    margin-top: 1em;
    padding: 16pt;
}
